@font-face {
  font-family: 'pixelpl';
  src: url("../assets/fonts/pixel.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fforward';
  src: url("../assets/fonts/fff-forward.regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'fforward', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background: #88adf6;
}

canvas {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

#intro {
  display: none;
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  -webkit-animation: disappear 2s linear 5s;
          animation: disappear 2s linear 5s;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#intro #creators {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#intro h1 {
  opacity: 0;
  -webkit-animation: slideRight 2s ease-in-out 2s;
          animation: slideRight 2s ease-in-out 2s;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

#intro h2 {
  opacity: 0;
  -webkit-animation: slideLeft 2s ease-in-out 2s;
          animation: slideLeft 2s ease-in-out 2s;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

@media (min-width: 480px) {
  #container {
    width: 480px;
  }
}

#ui {
  margin: auto;
  z-index: 100;
  height: 100vh;
  width: 100%;
}

#logo {
  width: 85%;
  margin: 10px auto;
  text-align: left;
  -webkit-animation: slideDown 0.5s linear;
          animation: slideDown 0.5s linear;
}

#logo img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

#fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}

#fullscreen button {
  background-color: Transparent;
  border: none;
  font-size: 25px;
  outline: none;
}

#scorediv {
  display: none;
  margin: 10px;
  text-align: center;
  color: #ddd;
  -webkit-animation: slideDown 0.5s linear;
          animation: slideDown 0.5s linear;
}

#scorediv #score {
  margin-bottom: -10px;
  font-size: 30px;
  color: white;
}

#infobox {
  display: none;
}

#settingsbox {
  display: none;
}

#gameoverbox {
  display: none;
  text-align: center;
  color: #ddd;
}

#gameoverbox h1 {
  font-size: 30px;
}

#gameoverbox h2 {
  color: white;
}

.box {
  width: 80%;
  height: 60%;
  margin: 50px auto;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 10px;
  overflow-y: scroll;
  -webkit-animation: slideUp 0.5s linear;
          animation: slideUp 0.5s linear;
}

.box h1 {
  margin-top: 0px;
}

@media (min-width: 480px) {
  .box {
    width: 440px;
  }
}

#type {
  position: fixed;
  bottom: 120px;
  left: 0;
  width: 30%;
  margin: auto;
  text-align: center;
  display: none;
  -webkit-animation: showtype 2s ease-out;
          animation: showtype 2s ease-out;
}

@-webkit-keyframes showtype {
  0% {
    margin-left: 0;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    margin-left: 70%;
    opacity: 0;
  }
}

@keyframes showtype {
  0% {
    margin-left: 0;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    margin-left: 70%;
    opacity: 0;
  }
}

#menu {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  -webkit-animation: slideUp 0.5s linear;
          animation: slideUp 0.5s linear;
}

#menu button {
  height: 50px;
  width: 70px;
  margin: 0 14px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  outline: none;
}

#gamebuttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  margin: auto;
  text-align: center;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #ddd;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: slideUp 0.5s linear;
          animation: slideUp 0.5s linear;
}

@media (min-width: 480px) {
  #gamebuttons {
    width: 480px;
    left: 50%;
    margin-left: -240px;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
}

#gamebuttons #buttonarea {
  height: 80px;
  width: 20%;
  border: 1px solid #333;
}

#gamebuttons #buttonarea button {
  height: 50px;
  width: 50px;
  margin: 15px 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px #333;
          box-shadow: 0 6px #333;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: -webkit-gradient(linear, left bottom, left top, from(#0e6ca9), to(#083b74));
  background: linear-gradient(to top, #0e6ca9, #083b74);
  border: none;
  outline: none;
}

#gamebuttons #buttonarea button:active {
  -webkit-box-shadow: 0 2px #333;
          box-shadow: 0 2px #333;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-tap-highlight-color: transparent;
}

#gamebuttons .gamebox {
  height: 80px;
  width: 40%;
  padding-top: 5px;
  border-top: 1px solid #333;
}

#gamebuttons .value {
  color: white;
  font-size: 18px;
}

@media (max-width: 480px) {
  #gamebuttons .value {
    padding-top: 10px;
  }
}

#gamebuttons #eventbar {
  height: 30px;
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 480px) {
  #gamebuttons #eventbar {
    border: none;
  }
}

#gamebuttons #eventbar #coursor {
  position: absolute;
  top: 1px;
  width: 1%;
  height: 29px;
  background-color: #224689;
  -webkit-animation: moving 3s linear 0.5s;
          animation: moving 3s linear 0.5s;
}

@-webkit-keyframes moving {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes moving {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

#gamebuttons #eventbar #toofast {
  width: 80%;
  height: 19px;
  background-color: rgba(93, 11, 18, 0.2);
}

#gamebuttons #eventbar #good {
  width: 16%;
  height: 19px;
  background-color: #aaa;
}

#gamebuttons #eventbar #perfect {
  width: 3%;
  height: 19px;
  background-color: green;
}

#gamebuttons #eventbar #tooslow {
  width: 1%;
  height: 19px;
  background-color: #5d0b12;
}

#gamebuttons .progressbar {
  width: 90%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#4d5056), color-stop(50%, #4d5056), color-stop(85%, #4d5056), color-stop(85%, #5d0b12), to(#5d0b12));
  background: linear-gradient(to right, #4d5056 0%, #4d5056 50%, #4d5056 85%, #5d0b12 85%, #5d0b12 100%);
  margin: 5px auto;
}

#gamebuttons .progressbar .pointer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 55%;
  height: 10px;
  background-color: white;
}

#gamebuttons .progressbar #speedpointer {
  width: 0%;
}

#gamebuttons .progressbar #altitudepointer {
  width: 0%;
}

#rotationalert {
  display: none;
  background-color: black;
  position: absolute;
  z-index: 101;
  height: 100vh;
  width: 100vw;
}

#rotationalert #infoalert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  text-align: center;
}

#rotationalert #infoalert i {
  margin: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 34, 34, 0.5);
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #rotationalert {
    display: block;
  }
  #rotationalert i {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
  }
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */